<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Yantro Mitra </h1>
   <h1>My profile</h1>
   <div>
           <h3>Name:<%= users.name %></h3>
           <p>Age:<%= users.age %></p>
           <p>DOB:<%= users.dob%></p>
           <p>Std:<%= users.std%></p>
           <p>Div:<%= users.div%></p>
           <p>Rollno:<%= users.rollno%></p>
           <img src='<%= users.image %>' alt=''>
      
</div>
</body>
</html>